@font-face {
   font-family: 'Comfortaa-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-04-16_200009/fonts/Comfortaa-VariableFont_wght/font.ttf');
}
